//google fonts
@import url('https://fonts.googleapis.com/css?family=Gotu|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

//base styles
$font: 'Gotu', sans-serif;
$headfont: 'Spicy Rice', cursive;
$bgcolor: black;
